@import "ember-cli-font-awesome-sass";


.jumbotron {
  background: url('http://synergyestore.com/image/data/Slider/electronics-banner.jpg') no-repeat center;
}

.logo {
  max-width: 10%;
  height: auto;
}
